<app-create-post (create)="createPost()"></app-create-post>

<!-- <div [formGroup]="filterForm">
  <input type="text" formControlName="city" placeholder="Enter city">
  <button (click)="filterByCity()">Filter</button>
</div> -->
<mat-form-field [formGroup]="filterForm">
  <input matInput type="text" formControlName="city"  placeholder="Enter city">
  <button (click)="filterByCity()">
    <mat-icon>tune</mat-icon> Filter
  </button>
</mat-form-field>


<mat-card *ngFor="let post of posts$ | async">
  <button *ngIf="post.user === userId.id" mat-icon-button>
    <mat-icon (click)="delete(post.id)" color="warn">delete</mat-icon>
  </button>

  
  <div class="post-title">
    {{ post.title }}
  </div>

  <div class="post-company">
    {{ post.company }}
  </div>

  <div class="post-city">
    {{ post.city }}
  </div>

  <div class="post-body">
    {{ post.body }}
  </div>
  
  <div class="post-meta">
    {{ post.created | date:'short' }}
  </div>



</mat-card>